* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(80, 32, 102), darkblue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    width: 700px;
    border: 2px solid wheat;
    border-radius: 15px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome h1 {
    color: wheat;
    font-size: xxx-large;
    letter-spacing: 1px;
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.math {
    width: 700px;
    height: 250px;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.source {
    width: 340px;
    height: 250px;
    border: 2px solid wheat;
    border-radius: 15px;
}

.solution {
    width: 340px;
    height: 250px;
    border: 2px solid wheat;
    border-radius: 15px;
}

.result {
    width: 700px;
    height: 250px;
    border: 2px solid wheat;
    border-radius: 15px;
    margin-top: 30px;
}