// header components

.atom {
    height: 3rem;
    padding-right: 1rem;
}

// math and result styling


.math {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 20px 0px;
    flex: 1 0 60%;
    justify-content: space-evenly;

    .measurements {
        display: flex;
        flex-direction: column;
    }

    input {
        background-color: #ffffffcd;
        margin-bottom: 20px;
        padding: 0px 10px 0px 10px;
        width: 8rem;
    }

    .fraction {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .fraction-btn {
        margin-left: 20px;
        padding: 0px 15px 0px 15px;
        border-radius: 1rem;
    }

    input,
    label,
    .btn-info {
        margin-left: 20px;
        font-size: 20px;
    }

    .denominator {
        margin-left: 0px;
    }

    .denominator,
    .numerator {
        width: 4rem;
    }

}

.result {
    background-color: $lightPurple;
}