$darkRed: #B97A95;
$grey: #716F81;
$textGrey: #2f3640;

$lightPurple: #E9D5DA;
$purple: #827397;
$medPurple: #4D4C7D;
$darkPurple: #363062;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-size: 20px;
    height: 100vh;
    color: $textGrey;

    background-image: linear-gradient(to bottom right, $lightPurple, $purple);
}

.wrapper {
    min-height: 40vh;
    width: 70vw;
    background-color: #ffffffcd;
    margin: 8rem auto;
    box-shadow: 0 0.5rem 2rem $grey;
    border-radius: 1rem;
}

header {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 20px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #ffffff;

    p {
        margin: 0;
    }
}

.result {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 10px 20px 10px 20px;
}

footer {
    text-align: center;

}